.component {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.summary, .controls {
    width: 500px;
    text-align: center;
    background-color: var(--window-background-color);
    border-radius: 1em;
}

.summary li {
    padding-bottom: 1em;
}

.summary p {
    padding: 0 1em 0 1em;
}

.controls {
    margin: 1em;
    padding-bottom: 1em;
}