.page {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 300px;
    border-radius: 2em;
    background-color: rgb(31, 28, 28);
    padding-bottom: 2em;
    padding-top: 1em;
}

.noBtn {
    background: none;
    border: none;
    padding: none;
}

.noBtn:hover {
    cursor: default;
    background: none;
}

.noBtn:active {
    transition: none;
    /* box-shadow: 2px 2px 5px #0a0705; */
    box-shadow: none;
      /* inset 2px 2px 1px black,
      inset 2px 3px 5px rgb(0 0 0 / 30%),
      inset -2px -3px 5px rgb(255 255 255 / 50%); */
  }