@media (min-width: 0px) {
    .cell {
        width: 30px;
        height:30px;
    }
}

@media (min-width: 1250px) {
    .cell {
        width: 32px;
        height:32px;
    }
}

@media (min-width: 2100px) {
    .cell {
        width: 44px;
        height:44px;
    }
}