@media (min-width: 0px) {
    .cell {
        width: 35px;
        height:35px;
    }
}

@media (min-width: 1500px) {
    .cell {
        width: 40px;
        height:40px;
    }
}

@media (min-width: 2000px) {
    .cell {
        width: 45px;
        height:45px;
    }
}