.page {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.button {
    margin: 1em;
}

.canvas {
    margin: 1em;
}

@media (min-width: 1500px) {
    .canvas {
        width: 700px;
        height: 933px;
    }
}

@media (min-width: 2000px) {
    .canvas {
        width: 800px;
        height: 1066px;
    }
}